{% extends "layout.html" %}
{% block content %}

<img src="/static/pict.jpg" alt="coin" width="50%"/>
        <div><br>
            <h2>Robofin</h2>
        
                <p>The digitalization age has brought disruption in the financial industry. The rise of self-investors has led to the need of a new approach to provide financial advice for investment. There is a request for a new more personalised approach tailored to the specific profile of the investor.

                RoboFin is a robo-advisor (a recommender system) assisting the investor in the selection of the right investment portfolio by utilising hybrid recommender algorithm returning the results of recommended investments to the user depending on the criteria they have selected. This website will provide visual selection of the desired investment features with ease of use.
                </p>
        </div>

{% endblock content %}




