{% extends "layout.html" %}
{% block content %}

<form action="/submittest", method="post"></form>
    <h1>Results</h1>
    <h4>{{count}} questions out of {{total_questions}}</h4>
    
            {% for question in answered_questions_list %}
                {{loop.index}}. {{question.question.question}} <br>
                    <name="{{question.question.q_id}}" value="{{question.question.option1}}"> {{question.question.option1}} <br>
                    <name="{{question.question.q_id}}" value="{{question.question.option2}}"> {{question.question.option2}} <br>
                    <name="{{question.question.q_id}}" value="{{question.question.option3}}"> {{question.question.option3}} <br>
                    <name="{{question.question.q_id}}" value="{{question.question.option4}}"> {{question.question.option4}} <br><br>

                    Your Answer: {{question.answered_question}} <br>
                    Correct Answer: {{question.question.answer}} <br>
                    Feedback: {{question.question.feedback}}
                    <br> <br> <br>
            {% endfor %}


                <br><br>
{% endblock content %}